
@{
    ViewBag.Title = "Mensajes";
}
<link href="https://fonts.googleapis.com/css?family=Dosis|Roboto" rel="stylesheet">
<style>
     .texto-titulo{
       font-family: 'Dosis', sans-serif;
       text-align:left;
       font-size: 40px;
   }
</style>
<h2 class="texto-titulo">Mensajes</h2>

@{

    string ListaMensajes = (TempData["venta"] ?? string.Empty) as string;

    if (ListaMensajes != null)
    {
               char[] splitchar = { ';' };
                var idAdj = ListaMensajes.Split(splitchar);
                foreach (var id in idAdj)
                {
                    <textarea rows="6" class="col-md-12">
                        @id
                    </textarea>
                    <br />
                }
            

        
    }

}






